{% extends "layout.html" %}
{% block content %}
<html>
<head><title>Lending Book Register</title>
<style type="text/css">
h1{text-align: center;}
p {
    width: 220px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0px;
}

b{text-align: center;font-size: 18px;}
</style>
</head>
<body bgcolor="DarkSeaGreen">
<h1>Library Lending Register</h1>
<form id="Form" style="float:left;"><br/><br/><h2>User Details:</h2>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENTER USER ID &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" name="uid"/><br/>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" name="uname"/><br/>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" name="mobile"/><br/>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" name="uaddr"/><br/>
	 </form>

<form id="Form1"> <br/><br/><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Book Details:</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Enter Book ID : <input type="text" value="" name="bid"/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Book Title &nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" value="" name="bname"/><br/>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Author &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  : <input type="text" value="" name="author"/><br/></div>
     <br/><div align="left">  Date of Issue    : <p id="doi"></p> </div>
     <div align="right">  Date of Return: <p id="dor"></p></div>
       	 <form id="Form2"><br/><br/>
       	 <div align="center"> 
       	 <button type="button" onclick="Submit()"><b>Submit</b></button>
       	 
<b><input type="button" onclick="Clear()" value="Clear">
</b></form>   

<script>
function Submit()
{
var e = new Date();
document.getElementById("doi").innerHTML = e;
var d = new Date();
d.setDate(d.getDate() + 15);
document.getElementById("dor").innerHTML = d;
}
function Clear()
{
document.getElementById("Form").reset();
document.getElementById("Form1").reset();
document.getElementById("Form2").reset();

}

</script>
	 	
</body>
</html>
{% endblock %}
