{% extends "layout.html" %}
{% block content %}
<html>
<head><title>Lending Book Register</title>
<style type="text/css">
h1{text-align: center;}
b{text-align: center;font-size: 18px;}
</style>
</head>
<body bgcolor="DarkSeaGreen">
<br/><br/><h1>Add Book</h1>
<h2>
<form ><br/><div align="center">
       Enter Book Title &nbsp;&nbsp;&nbsp;: <input type="text" value="" name="bname"/><br/>
       Author Name  : <input type="text" value="" name="author"/><br/>
      Publisher : <input type="text" value="" name="pname"><br/>
      Enter Book ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" value="" name="bid"/><br/>
       Total Quantity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   : <input type="text"  value="" name="qt"/><br/></form>
       	 <form><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       	 <button type="button" onclick="Submit()"><b>Enroll</b></button>
         
         </form>   
	 	
</body>
</html>
{% endblock %}
