<{% extends "layout.html" %}
{% block content %}
<html>
<head><title>Enroll Member</title>
<style type="text/css">
h1{text-align: center;}b{text-align: center;font-size: 18px; cursor: pointer;}
</style>
</head>
<body bgcolor="DarkSeaGreen">
{% csrf_token %}
<br/><br/><br/><br/><br/>
<h2>Enroll Member</h2><div align="center">
<form id="Form"><br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;
     MEMBER NAME 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" id='uname' name="uname"/>
     &nbsp;&nbsp;&nbsp;<br/>
     GENDER &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;<input type="radio" id = "gender" value="Male" name="gender" />Male<input type="radio" id="gender" value="Female" name="gender" />Female <br/>
	 ENTER Member ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" id='uid' name="uid"/><br/>
	 Enter Contact Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" id='mobile' name="mobile"/><br/>
	 Enter Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<textarea rows="2" cols="25" value="" id="uaddr" name="uaddr"></textarea><br/><br/>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 <button type="button" onclick="userRegister()"><b>Register</b></button><br/>
	 </form></div>

<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">
  function userRegister() {
	
    

    var uname = document.getElementById("uname").value;
    // console.log(name.value);
    var gender = document.getElementById("gender").value;

    // if (gender[0].checked) {
    //     value = gender[0].value;
    //     var gender = value;

    // } else {
    //     var gender = gender[1].value;
    // }
    var uid = document.getElementById("uid").value;
    var mobile = document.getElementById("mobile").value;
    // if (len(mobile)==10) {
    // 	var mobile = value;
    // } else {
    // 	alert('Please Enter the valid Mobile Number')
    // }
    

    var uaddr = document.getElementById("uaddr").value;

    document.getElementById("Form").reset();
    var all = {
        uname: uname,
        gender: gender,
        uid: uid,
        mobile: mobile,
        uaddr: uaddr,

    };
    console.log(all)

    $.ajax({
        type: "POST",
        url: '/euser/',
        data: {
            all: all,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (response) {
        	alert(response)            
            console.log(response);
            },
        });    

}
    

</script>
</body></html>

	 {% endblock %}
