<{% extends "layout.html" %}
{% block content %}
<html>
<head><title>Enroll User</title>
<style type="text/css">
h1{text-align: center;}b{text-align: center;font-size: 18px;}
</style>
</head>
<body bgcolor="DarkSeaGreen"><br/><br/><br/><br/><br/>
<h1>User Enroll:</h1><div align="center">
<form><br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;
     NAME 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" name="uname"/>
     &nbsp;&nbsp;&nbsp;<div align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     GENDER &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;<input type="radio" value="Male" name="gender" />Male<input type="radio" value="Female" name="gender" />Female <br/></div>
	 ENTER User ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" name="uid"/><br/>
	 Enter Contact Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" name="mobile"/><br/>
	 Enter Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" value="" name="uaddr"/><br/><br/>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="userRegister"><b>Register</b></button><br/>
	 </form></div>


<!-- <script>
    function userRegister()
	{
		 var = document.getElementByName("uname").value;
	}
	$.ajax{(
		type:'POST';
		url:'/euser/';
		datas:
			csrfmiddlewaretoken:{{csrf_token}}
			)}
	console.log(response)
	if(data==saved)alert{"UserRegistration is Successfull"}-->
<!-- <script src="{{ STATIC_URL }}js/min.js"></script> -->
<script type="text/javascript" >
	function userRegister() {
var name = document.getElementById("uname").value;
    var all={
name : name,
};

$.ajax({
type: "POST",
url: /events/,
data: {
all: all,
csrfmiddlewaretoken: '{{csrf_token}}',
},

success : function(response){
if (response=='saved'){alert('The Details have been saved successfully')}
console.log(response);
},
});
}
</script>

</script>
</body></html>

	 {% endblock %}
