{% extends "layout.html" %}
{% block content %}
<html>
<head><title>Login</title>
<style type="text/css">
b{text-align: center;font-size: 18px;}
</style>
</head>
<body bgcolor="darkseagreen">
<div align="center"><h1>Ahlus Sunnah Library and Guidance Centre</h1>
<h2>Alandur,Chennai-600016.</h1>
<form><br/><br/><br/><br/>
<h2>User Login</h2>
	Username &nbsp;:<input type="text" value="" name="uname"/><br/>
	Password &nbsp;:<input type="password" value="" name="pwd"/><br/>
	<br><button type="button" onclick="Login()"><b>Login</b></button>
</form>
</div>
</body>
</html>
{% endblock %}
