<html>
<head><title>Login</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<style type="text/css">
/*h1 {
    text-shadow: 5px 5px 5px red	;
    color: white;
    font-size: 50px;

}
h2 {
    text-shadow: 5px 5px 5px green	;
    color: white;
    font-size: 30px;

}
b{text-align: center;font-size: 18px;}*/
</style>
</head>
<body bgcolor="darkseagreen"><br/><br/><br/>
<!-- {{ state }} -->
<div align="center" class="container">
  <section id="content">    
  <img src="/static/images/aslgc.jpg" width="400px" height="90px">

<h2>Alandur,Chennai-600016.</h2>
<form action=""> <!-- name="form" accept="" location="/home/" method="POST">{% csrf_token %} --><br/>
<!-- {% if next %} -->
	<!-- 	<input type="hidden" name="next" value="{{ next }}" />
		{% endif %} -->
<b>Admin Login</b><br/>
<div>
        <input type="text" placeholder="Username" required="" id="username" />
      </div>
      <div>
        <input type="password" placeholder="Password" required="" id="password" />
      </div>
      <div>
        <!-- <input type="submit" onclick="Login(form)" value="Login" /> -->

	<!-- <div class="box">Username &nbsp;:<input type="text" value="" name="username"/></div><br/>
	<div class="box">Password &nbsp;:<input type="password" value="" name="password"/></div><br/> -->
	<br><button type="button" onclick="Login(form)">&nbsp;<b>Login</b></button> 
	<input type="reset" value="Reset">
	<!-- <button  type="reset"  ><b>Reset</b></button> --> 
</div></section>
</form>

 <script>
	function Login(form)
	{
		
		$.ajax({
			type:'POST',
			url:'/login/',
			data:{
				username:form.username.value,
				password:form.password.value,
				csrfmiddlewaretoken:'{{ csrf_token }}',
			},
			success:function(response){
				console.log(response)
				if (response == "login success") {
					window.location.href = "/mhome";
				}
				else if(response == 'superadmin'){
					window.location.href = "/home";
				}
				else {alert("Please Check Username and Password!") }
				// alert("success");
			}
		})
		
		
																																			}
</script> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>

																																							